<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> <td>09:00</td>  <td>Introducing the Shell</td> </tr>
      <tr> <td>09:05</td>  <td>Navigating Files and Directories</td> </tr>
      <tr> <td>09:45</td>  <td>Working with Files and Directories</td> </tr>
      <tr> <td>10:35</td>  <td>Pipes and Filters</td> </tr>
      <tr> <td>11:10</td>  <td>Loops</td> </tr>
      <tr> <td>12:00</td>  <td>Shell Scripts</td> </tr>
      <tr> <td>12:45</td>  <td>Finding Things</td> </tr>
      <tr> <td>13:30</td>  <td>Automated Version Control</td> </tr>
      <tr> <td>13:35</td>  <td>Setting Up Git</td> </tr>
      <tr> <td>13:40</td>  <td>Creating a repository</td> </tr>
      <tr> <td>13:50</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Tracking Changes</td> </tr>
      <tr> <td>09:20</td>  <td>Exploring History</td> </tr>
      <tr> <td>09:45</td>  <td>Ignoring Things</td> </tr>
      <tr> <td>09:50</td>  <td>Remotes in GitHub</td> </tr>
      <tr> <td>10:20</td>  <td>Collaborating</td> </tr>
      <tr> <td>10:45</td>  <td>Conflicts</td> </tr>
      <tr> <td>11:00</td>  <td>Open Science</td> </tr>
      <tr> <td>11:10</td>  <td>Licensing</td> </tr>
      <tr> <td>11:15</td>  <td>Citation</td> </tr>
      <tr> <td>11:17</td>  <td>Hosting</td> </tr>
      <tr> <td>11:27</td>  <td>Supplemental: Using Git from RStudio</td> </tr>
      <tr> <td>11:37</td>  <td>Python Fundamentals</td> </tr>
      <tr> <td>12:07</td>  <td>Analyzing Patient Data</td> </tr>
      <tr> <td>13:07</td>  <td>Visualizing Tabular Data</td> </tr>
      <tr> <td>13:57</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Storing Multiple Values in Lists</td> </tr>
      <tr> <td>09:45</td>  <td>Repeating Actions with Loops</td> </tr>
      <tr> <td>10:15</td>  <td>Analyzing Data from Multiple Files</td> </tr>
      <tr> <td>10:35</td>  <td>Making Choices</td> </tr>
      <tr> <td>11:05</td>  <td>Creating Functions</td> </tr>
      <tr> <td>11:35</td>  <td>Errors and Exceptions</td> </tr>
      <tr> <td>12:05</td>  <td>Defensive Programming</td> </tr>
      <tr> <td>12:45</td>  <td>Debugging</td> </tr>
      <tr> <td>13:35</td>  <td>Command-Line Programs</td> </tr>
      <tr> <td>14:05</td>  <td>END</td> </tr>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
    </table>
  </div>
</div>
